
/* border everything red for debugging */
/* div {
    border: 1px solid red;
} */

body {
    background-color: #14332D;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.title {
    text-align: center;
}

.title h1 {
    border-radius: 10px;
    background-color: #FAE7C7;
    color: #14332D;
    padding: 10px;
    width: 300px;
    display: inline-block
}

.title h2 {
    color: white;
}

#input-section {
    margin-top: auto;
    margin-bottom: auto;

    text-align: center;
}

#input-section input[type=text] {
    background: white;
    height: 100px;
    font-size: 32px;
    width: 200px;
    text-align: center;
}

#input-section #submit {
    background-color: #B2C294;
    color: black;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

#input-section p {
    text-transform: C;
    font-weight: bold;
    font-size: 32px;
    color: red;
}

#clue-section {
    display: none;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: scroll;
    text-align: center;
}

#clue-section #clue-images {
    flex: 1 1 auto;
    overflow-y: scroll;
}

#clue-section img {
    display: block;
    height: auto;
    margin: 10px auto;
    width: 100%;
}

#clue-section #timer-section {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 50px;
    align-items: center;
    margin: 0 auto;
}

#clue-section #timer-value {
    color: red;
    font-size: 50px;
    margin: 0;
}

#clue-section #timer-section #cancel {
    width: 90px;
    height: 80px;
    font-size: 20px;
    color: black;
    text-transform: uppercase;
}